# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# compiled output
/typescript
/reports/html
/reports/json
.tmp/

# dependencies
/node_modules
npm-debug.log
local.log

# cucumber
reports/json/cucumber_report.json